@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #f5f7fb !important; */
  /* zoom: 90%; */
  height: 100vh;
  width: 100vw;
}

*:focus {
  outline: none;
}

.magical-underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #70cfff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 20px 85%;
  transition: background-size 0.25s ease-in;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #88888899;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888b3;
}
